/api-gateway/target/
/discovery-service/target/
/users/target/
/wedding/target/
/users/nbproject/
/config-service/target/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
/mail-service/target/
/admin/target/
/file-service/target/
/vendor/target/
/feed/target/
/blog/target/
tokens/
src/main/resources/*.json
/*.pem
/grafana/
/jenkins/
/local-data/
/target/
/sonar-project.properties
/nb-configuration.xml